@import 'styles/mixins.module';

.wrapper_wish_item {
  margin: 24px 16px;
}

.item_prod {
  display: flex;
  width: 100%;

  .info_prod {
    max-width: 370px;
    margin-left: 20px;
    line-height: 22px;

    .txt_brand {
      @include font(15px, auto, #999);
      @include text-ellipsis(1);
    }

    .txt_title {
      @include text-ellipsis(2);

      font-size: 15px;
    }

    .txt_price {
      @include font(20px, 700);

      padding: 10px 0 13px;

      .txt_unit {
        @include font(18px, 400);
      }
    }

    .wrapper_btn {
      display: flex;
      align-items: flex-end;
      height: 26px;
    }
  }
}
