.wrapper_main_info {
  .txt_prod_name {
    display: block;
    padding: 10px 0;
    font-size: 14px;
  }
}

.wrapper_util_info {
  display: flex;
  justify-content: end;
  margin: 12px 0;
  padding: 18px 0;
  border-top: 1px solid #ededed;
}
