@import 'styles/mixins.module';

.area_cartbox_body {
  height: calc(100vh - 151px);
  padding: 62px 0 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}

.list_cart {
  display: table;
  width: 100%;
  min-height: 220px;
  table-layout: fixed;
  flex: 1;

  .item_cart {
    padding: 41px 0 0;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  .ico_empty_cart {
    @include ico-cart2(-115px, -760px, 50px, 50px);

    margin: 0 auto;
  }

  .txt_empty_cart {
    margin-top: 19px;
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #333;
  }
}
