@import 'styles/mixins.module';
@import 'styles/variable.module';

.wrapper_thumb {
  @include center(column);

  $round: 8px;

  &.small {
    @include wrapper-prod-img($prod-item-small, $round);
  }

  &.medium {
    @include wrapper-prod-img($prod-item-medium, $round);
  }
}

.ico_more {
  @include ico-gift3(0, -260px, 40px, 40px);
}

.txt_more {
  margin-top: 13px;
  font-size: 13px;
  color: #666;
}
