@import 'styles/mixins.module';

.wrapper_selector {
  @include size(100%, 150px, 0, 40px 120px);

  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #fafafa;

  .title_selector {
    padding-left: 10px;
    font-size: 28px;
    line-height: 35px;
  }
}
