@import 'styles/mixins.module';

.area_selected {
  height: 97px;
  padding: 16px 20px;
  background-color: #f7f8f9;
  overflow: auto hidden;
  white-space: nowrap;

  .wrapper_selected {
    display: flex;
    align-items: center;
    height: 100%;

    .ico_selected {
      @include ico-frndpck(0, 0, 44px, 44px);

      margin-right: 8px;
    }
  }

  .list_selected {
    @include size(58px, 58px, 0 auto, 0);

    display: inline-block;
    position: relative;

    .txt_selected {
      display: block;
      overflow: hidden;
      width: 100%;
      padding-left: 1px;
      font-size: 11px;
      color: #111;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 0 auto;
    }
  }
}

.area_search {
  padding: 0 20px 10px;
  background-color: #f7f8f9;

  .wrapper_search {
    position: relative;
    padding: 9px 70px 8px 10px;
    border: 1px solid #d3d5dd;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;

    .input_search {
      display: block;
      width: 100%;
      border: 0;
      font-size: 14px;
      line-height: 20px;
      color: #000;
      background-color: #fff;
      outline: none;
    }

    .btn_default {
      @include center(row);
      @include size(36px, 36px, 0, 0);

      position: absolute;
      top: 0;
    }

    .btn_reset {
      right: 36px;

      .ico_reset {
        @include ico-frndpck(-90px, -50px, 20px, 20px);
      }
    }

    .btn_submit {
      right: 0;

      .ico_submit {
        @include ico-frndpck(-150px, -20px, 16px, 16px);
      }
    }
  }
}

.area_friends {
  height: 397px;
  padding: 0 20px;
  overflow-y: auto;
  border: 1px solid #e9e9ea;

  .txt_title {
    display: inline-block;
    padding: 20px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #777;

    .txt_head {
      padding-left: 4px;
      font-weight: 700;
    }
  }

  .item_friend {
    @include size(50%, 50px, 0, 0);

    display: flex;
    align-items: center;
    float: left;
    cursor: pointer;

    &.me {
      width: 100%;
    }

    .btn_input {
      @include size(20px, 20px, 0, 0);

      position: absolute;
      top: 10px;
      left: 0;
      z-index: -1;
    }

    .ico_input {
      @include ico-frndpck(-60px, -50px, 20px, 20px);

      &.on {
        @include ico-frndpck(-60px, -80px, 20px, 20px);
      }
    }

    .txt_name {
      display: block;
      overflow: hidden;
      font-size: 12px;
      line-height: 41px;
      color: #111;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

.scroll_hori::-webkit-scrollbar {
  height: 16px;
}

.scroll_hori::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 14px 14px #c1c1c1;
  border: 4px solid transparent;
  border-radius: 14px;
}

.scroll_hori::-webkit-scrollbar-track {
  box-shadow: inset 0 0 14px 14px #f2f2f2;
  border: solid #fafafa;
  border-width: 4px 0;
}
