$progress-height: 30px;

.area_progressbar {
  position: relative;
  width: 100%;
  height: $progress-height;
  border-radius: 100px;
  background-color: #d6e5fd;
  overflow: hidden;
  margin: 15px 0;
}

.progressbar_fill {
  position: absolute;
  top: 0;
  left: 0;
  height: $progress-height;
  text-align: center;
  padding: 0;
  background-color: #4684e9;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.txt_progressbar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  color: #343332;
}

.wrapper_progress {
  width: 100%;
}
