@import 'styles/mixins.module';
@import 'styles/variable.module';

.wrapper_prod_item {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;

  &.small {
    width: $prod-item-small;
  }

  &.medium {
    width: $prod-item-medium;
  }
}

.wrapper_main_info {
  padding-top: 8px;

  &.small {
    height: 110px;
  }

  &.medium {
    height: 180px;
  }

  .txt_brand_name {
    @include text-ellipsis(1);

    font-size: 15px;
    color: #999;
    word-break: break-all;
  }

  .txt_prod_name {
    @include text-ellipsis(2);

    padding-top: 3px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 400;
    word-break: break-all;
    line-height: 22px;
  }
}

.wrapper_util_info {
  padding-top: 10px;
}
