@import 'styles/mixins.module';

.wrapper_bundle_util {
  margin-left: auto;
  display: flex;
  padding: 20px 0;

  .link_search {
    display: inline-block;
    vertical-align: top;
  }

  .wrapper_ico {
    display: flex;
    align-items: center;
  }

  .ico_search {
    @include ico-nav(-60px, -80px, 24px, 24px);

    margin: 8px;
  }

  .link_cart {
    position: relative;
    margin-left: 14px;
  }

  .ico_cart {
    @include ico-nav(-30px, -80px, 24px, 24px);

    margin: 8px;
    position: relative;
  }

  .num_cart {
    @include size(16px, 14px, 0, 1px 5px 0);
    @include font(10px, 500, #fff);

    position: absolute;
    inset: 4px 0 0 22px;
    border-radius: 100px;
    letter-spacing: -0.05em;
    line-height: 13px;
    text-align: center;
    background-color: #fc363c;
    box-sizing: border-box;
  }

  .wrapper_login {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 22px;
  }
}
