@import 'styles/mixins.module';

.btn_arrow {
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 10;
  width: 60px;
  height: 60px;
  border: 1px solid rgba(0, 0, 0, 10%);
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 10%);
  background-color: rgba(255, 255, 255, 90%);
  font-size: 0;
  line-height: 0;

  &.btn_prev {
    left: -30px;
  }

  &.btn_next {
    right: -30px;
  }

  &::before {
    display: none;
    opacity: 0;
  }
}

.ico_prev {
  @include ico-gift3(-140px, -180px, 13px, 22px);

  margin: 0 21px;
}

.ico_next {
  @include ico-gift3(-155px, -180px, 13px, 22px);

  margin: 0 23px;
}
