@import 'styles/mixins.module';

.area_buy_info {
  @include center(column);

  justify-content: space-between;
  height: 80vh;
}

.area_selector {
  width: 100%;
  max-height: 250px;
  overflow: auto;
  border: 1px solid #e1e2e3;
}

.area_bundles {
  width: 100%;
}
