@import 'styles/variable.module';

.area_cart {
  background-color: #f5f5f5;
}

.wrapper_cart {
  display: flex;
  height: calc(100vh - $header-height);
  margin-top: $header-height;
  position: relative;
}

.wrapper_cart_box {
  width: 890px;
  height: 100%;
}

.wrapper_item {
  position: relative;
  height: calc(100% - 110px);
  margin-top: 60px;
  padding: 0 33px;
  overflow: hidden scroll;
  z-index: 10;
}
