@import 'styles/mixins.module';

.wrapper_cart {
  background-color: #f5f5f5;
}

.area_cart {
  position: relative;
  height: calc(100vh - 81px);
  box-sizing: border-box;
  padding: 0 390px 0 0;
}

.area_wrapper_cartbox {
  // overflow-y: auto; 스크롤바 때문에 우선 꺼둠
  padding: 0;
  height: 100%;
  min-height: 448px;
  box-sizing: border-box;
}
