@import 'styles/mixins.module';

$height: 33px;

@mixin wrapper-tab-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 20px;
}

@mixin txt-tab-label {
  display: inline-block;
  font-size: 24px;
  color: #000;
  font-weight: 700;
  height: $height;
  line-height: $height;
}

@mixin txt-tab-count {
  display: inline-block;
  font-size: 18px;
  color: #333;
  font-weight: 400;
  line-height: $height;
  vertical-align: top;
  letter-spacing: -1px;
  margin-left: 8px;
}

@mixin img-brand-logo {
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin: 0 29px 12px;
}

@mixin txt-brand-name {
  font-size: 14px;
  color: #666;
  padding: 0 8px;

  @include text-ellipsis(1);
}
