@import 'styles/mixins.module';

@mixin img-brand-logo {
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin: 0 29px 12px;
}

@mixin txt-brand-name {
  font-size: 14px;
  color: #666;
  padding: 0 8px;

  @include text-ellipsis(1);
}
