@mixin center($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin wh-full {
  width: 100%;
  height: 100%;
}

@mixin size($width, $height, $margin, $padding) {
  width: $width;
  height: $height;
  margin: $margin;
  padding: $padding;
  box-sizing: border-box;
}

@mixin shadow {
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 4%);
}

@mixin header-ico($x, $y, $width, $height) {
  display: inline-block;
  font-size: 0;
  background-image: url('@assets/ico_nav.png');
  background-size: 200px 170px; // 배경 이미지 전체 크기 설정
  background-position: $x $y; // X, Y
  background-repeat: no-repeat;
  width: $width;
  height: $height;
}
