/* stylelint-disable selector-max-type */
:root {
  /* COLOR */

  /* FONT */

  /* SIZE */
}

button {
  padding: 0;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

$prod-item-tiny: 85px;
$prod-item-small: 190px;
$prod-item-medium: 305px;
