a,
button {
  cursor: pointer;
}

/* input[type=search]의 clear button 스타일 삭제 */

/* ms */
input::-ms-clear,
input::-ms-reveal {
  display: none;
}

/* webkit */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}
