.btn_logout {
  position: absolute;
  right: 0;
  top: 34px;
  width: 100px;
  padding: 10px 15px 8px;
  border: 1px solid #000;
  border-radius: 10px;
  font-size: 12px;
  line-height: 18px;
  background-color: #fff;
}

.btn_logout_close {
  display: none;
}
