@import 'styles/mixins.module';

.area_cartbox_body {
  height: calc(100vh - 151px);
  padding: 62px 0 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}

.wrapper_empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .ico_empty_cart {
    @include ico-cart2(-115px, -760px, 50px, 50px);

    margin: 0 auto;
  }

  .txt_empty_cart {
    margin-top: 19px;
    display: block;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #333;
  }
}
