.spinner {
  z-index: 999999999;
  position: fixed;
  inset: 0;
  background-image: url('assets/global-spinner.gif');
  background-size: 80px 80px;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.5;
}
