$border-style: 1px solid #ededed;
$gap: 32px;

.area_brand_summary {
  margin-bottom: 20px;
}

.list_brand {
  margin-left: -$gap;
  padding-bottom: 20px;
}

.item_brand {
  display: inline-block;
  padding: 16px 0;
  margin-left: $gap;
  width: calc(50% - $gap);
  border-top: $border-style;
}

// item brand 형제 요소 중, 뒤에서 두 번째 요소에까지 적용
.item_brand:nth-last-child(-n + 2) {
  border-bottom: $border-style;
}
