@import 'styles/mixins.module';

.item_ranker {
  @include size(164px, 200px, 0, 0);
  @include center(column);

  position: relative;
  background-color: #e6f1ff;
  border-radius: 5px;
}

.txt_default {
  @include font(16px, 700);

  padding: 10px 0 4px;

  .txt_point {
    color: #4684e9;
  }
}
