@import 'styles/mixins.module';

.area_quantity {
  width: 350px;
  border: 1px solid #e1e2e3;
}

.wrapper_option {
  display: flex;
  justify-content: space-between;
  padding: 12px 14px;
  font-weight: 700;

  .ico_toggle {
    @include ico-pd-detail(-210px, -260px, 19px, 19px);
  }
}

.wrapper_quantity {
  display: flex;
  justify-content: space-between;
  margin: 0 14px 14px;
  border: 1px solid #e1e2e3;
  height: 40px;

  .input_option {
    width: 80%;
    text-align: center;
    border: none;
  }

  .ico_quantity {
    @include center(row);

    margin: 15px;
  }

  .ico_minus {
    @include ico-pd-detail(-220px, -250px, 14px, 2px);
  }

  .ico_plus {
    @include ico-pd-detail(-200px, -290px, 14px, 14px);
  }
}
