@import 'styles/mixins.module';

.wrapper_profile {
  @include center(row);

  height: 140px;
}

.img {
  width: 80px;
  height: 80px;
}

.txt_name {
  @include font(24px, 800);

  width: 200px;
  margin-left: 20px;
}

.txt_birth {
  @include font(14px, 400);

  padding-top: 6px;
  line-height: 24px;
  color: #666;
}
