.area_giftbox {
  display: flex;
  flex-direction: row;
}

.area_side {
  display: flex;
  flex-direction: column;
  width: 346px;
  border-left: 1px solid #ededed;
  border-right: 1px solid #ededed;
}

.area_main {
  flex-grow: 1;
  padding-left: 32px;
}
