@import 'styles/mixins.module';

.txt_title {
  @include font(18px, 700);

  display: block;
  padding: 30px 24px 12px;
  line-height: 21px;
  color: #000;
  border-top: 1px solid #ededed;
}

.wrapper_sidebar {
  height: 100%;
}
