@import 'styles/mixins.module';
@import 'styles/variable.module';

.wrapper_toast {
  display: flex;
  justify-content: center;
  align-items: end;
  position: fixed;
  width: 100vw;
  height: 98vh;

  .toast {
    @include size(350px, 48px, 0, 16px);

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    border-radius: 4px;
    background-color: #333;

    .txt_link {
      font-weight: 700;
      color: $point-yellow;
    }
  }
}
