@import 'styles/variable.module';

.area_footer {
  min-width: $fix-width;
  height: $footer-height;
  background-color: #fafafc;
}

.wrapper_footer {
  overflow: hidden;
  width: $fix-width;
  height: 100%;
  margin: 0 auto;
  padding: 40px 0;

  .logo {
    font-weight: bold;
    font-size: 20px;
    width: 171px;
    float: left;
  }

  .txt_desc {
    color: #555;
  }

  .txt_link {
    font-weight: 700;
  }

  .wrapper_link {
    float: right;
  }
}
