@import 'styles/mixins.module';

.btn_login {
  display: inline-flex;
  align-items: center;
  position: relative;
  height: 38px;
  padding-top: 2px;
  font-size: 14px;
}

.ico_logout {
  @include nav-ico(-130px, -80px, 10px, 6px);

  margin-left: 7px;
}
