@import 'styles/mixins.module';

.default {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 12px 14px;
  border: 1px solid #e1e2e3;
}

.txt_notice {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -1px;
  background-color: #fafafa;
  color: #4a90e2;
}

.txt_option {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -1px;

  .ico_toggle {
    @include ico-pd-detail(-180px, -300px, 14px, 9px);
  }

  .on {
    @include ico-pd-detail(-180px, -290px, 14px, 9px);
  }
}

.wrapper_option {
  display: none;
}
