@import 'styles/mixins.module';

.area_main {
  display: flex;
  padding-top: 30px;

  .caruousel {
    width: 50%;
  }
}

.wrapper_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 450px;
  margin-bottom: 8px;
  padding: 0 0 0 50px;
  font-size: 30px;
  line-height: 33px;

  .desc_prod {
    .title {
      font-size: 24px;
    }
  }

  .desc_brand {
    border-top: 1px solid #e7e8e9;
    border-bottom: 1px solid #e7e8e9;

    .wrapper_brand {
      display: flex;
      align-items: center;
      padding: 13px;

      .img_brand {
        @include size(40px, 40px, 0, 0);

        margin-right: 20px;
      }

      .txt_name {
        font-size: 14px;
      }

      .ico {
        @include ico-pd-detail(-160px, -260px, 10px, 16px);

        margin-left: auto;
      }
    }
  }
}
