@import 'styles/mixins.module';

.title {
  @include font(28px, 800);

  margin: 40px 0 30px;
  line-height: 38px;
  white-space: pre-line;
}

.wrapper_items {
  margin-bottom: 100px;
}

.btn_more {
  width: 100%;
  height: 45px;
  border: 1px solid #ededed;
  border-radius: 2px;
  text-align: center;
  color: #222;

  .ico_more {
    @include ico-wishes(-70px, -65px, 11px, 6px);

    margin: 7px 8px 0 0;
    vertical-align: top;
  }
}
