.price_wrapper {
  font-style: normal;
  font-weight: 700;
  word-break: break-all;
}

.unit {
  font-weight: 400;
}

.small {
  font-size: 15px;
}

.medium {
  font-size: 20px;

  .unit {
    font-size: 18px;
  }
}

.large {
  font-size: 24px;

  .unit {
    font-size: 22px;
  }
}
