@import '@styles/_variable.module';

$border-radius: 8px;

.thumb_wrapper {
  position: relative;

  &::before {
    position: absolute;
    inset: 0;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 2%);
    background-color: rgba(0, 0, 0, 2%);
    content: '';
    border-radius: $border-radius;
  }

  &.small {
    width: 85px;
  }

  &.medium {
    width: $product-item-column-small;
  }

  &.large {
    width: $product-item-column-medium;
  }
}

.thumb_img {
  display: block;
  width: 100%;
  border-radius: $border-radius;
}
