.thumb_wrapper {
  position: relative;

  &::before {
    position: absolute;
    inset: 0;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 2%);
    background-color: rgba(0, 0, 0, 2%);
    content: '';
  }
}

.thumb_img {
  display: block;
  width: 100%;
  border-radius: 10px;
}
