@import '@styles/mixins.module';
@import '@styles/variable.module';

.base {
  display: flex;
  width: 100%;
  flex-direction: column;

  &.tiny {
    width: $prod-item-tiny;
  }

  &.small {
    width: $prod-item-small;
  }

  &.medium {
    width: $prod-item-medium;
  }
}

.brand_name {
  @include text-ellipsis(1);

  font-size: 15px;
  color: #999;
  word-break: break-all;
}

.name {
  @include text-ellipsis(2);

  font-size: 15px;
  font-weight: 400;
  word-break: break-all;
}
