@import 'styles/mixins.module';

.wrapper_item {
  @include size(900px, 260px, 0, 0);
  @include center(column);

  text-align: center;
  white-space: pre-line;
  border: 1px solid rgba(0, 0, 0, 10%);
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 10%);

  .img_choonsik {
    @include size(108px, 108px, 0, 0 0 10px 0);
  }

  .txt_title {
    @include font(22px, 700);

    line-height: 29px;
    color: #222;
  }

  .txt_desc {
    padding-top: 7px;
    font-size: 15px;
    line-height: 22px;
    color: #666;
  }
}
