@import '../index.module';

.list_brand {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #ededed;
  padding: 30px 27px 20px;
  margin-bottom: 30px;
  text-align: center;

  .img_logo {
    @include img-brand-logo;

    border-radius: 4px;
  }

  .txt_name {
    @include txt-brand-name;
  }
}
